@using Web.Services;
@inject AuthenticationService authenticationService

<nav class="navbar navbar-expand-lg bg-body-tertiary" hidden="@IsSignedIn">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="#">Home</NavLink>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Generate data</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-outline-primary" type="submit">Sign out</button>
            </form>
        </div>
    </div>
</nav>

@code {
    public bool IsSignedIn { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        IsSignedIn = !string.IsNullOrWhiteSpace(await authenticationService.GetTokenAsync());
    }
}