@page "/login"
@using Authentication.Models;
@using Web.Services;
@inject AuthenticationService authenticationService;

<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Sign in</h1>
            </div>

            <div class="modal-body p-5 pt-0">
                <EditForm Model="@Model" OnSubmit="@SubmitAsync">
                    <div class="form-floating mb-3">
                        <InputText type="email" class="form-control rounded-3" id="usernameInput" placeholder="email@microshop.rocks" required @bind-Value="Model!.Username" />
                        <label for="usernameInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <InputText type="password" class="form-control rounded-3" id="passwordInput" placeholder="password" required @bind-Value="Model!.Password" />
                        <label for="passwordInput">Password</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign in</button>
                    <p class="text-danger" hidden="@(!ShouldShowError)">@ErrorMessage</p>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    public SignInModel? Model { get; set; }
    public bool ShouldShowError { get; set; }
    public string? ErrorMessage { get; set; }

    protected override void OnInitialized() => Model ??= new();

    private async Task SubmitAsync()
    {
        if (string.IsNullOrWhiteSpace(Model?.Username) || string.IsNullOrWhiteSpace(Model?.Password))
            return;

        try
        {
            await authenticationService.SignInAsync(Model.Username, Model.Password);
        }
        catch (UnauthorizedAccessException)
        {
            ShouldShowError = true;
            ErrorMessage = "Invalid credentials or permissions";
        }
        catch (Exception)
        {
            ShouldShowError = true;
            ErrorMessage = "Something went wrong, please try again later";
        }
    }

    public class SignInModel
    {
        public string? Username { get; set; }
        public string? Password { get; set; }
    }
}