@page
@model Web.Pages.ForbiddenModel
@{
    Layout = "_AnonymousLayout";
}

<div class="container text-center">
    <div class="row justify-content-md-center my-5">
        <div class="col-4">
            <form method="post">
                <div class="alert alert-warning" role="alert">
                    You do not have administrative rights for Microshop.NET.
                </div>
                <input type="submit" class="btn btn-primary" value="Sign out"/>
            </form>
        </div>
    </div>
</div>