@page

<div class="container text-center">
    <div class="row justify-content-md-center my-5">
        <div class="col-4">
            <div class="alert alert-warning" role="alert">
                You do not have administrative rights for Microshop.NET.
            </div>
        </div>
    </div>
</div>