@page
@model Web.Pages.GenerateDataModel;
@{
    Layout = "_AuthorizedLayout";
}

<div>
    <p>Press the button to generate random data:</p>
</div>
<form method="post">
    <button type="submit" class="btn btn-primary">Generate data</button>
    <div class="mt-3">
        @if (Model.GeneratedData)
        {
            @if (Model.Success)
            {
                <div class="alert alert-light" role="alert">
                    Data has been generated succesfully at @DateTime.UtcNow (UTC)
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Unable to generate data, please try again later!
                </div>
            }
        }
    </div>
</form>