@page
@model Web.Pages.SignInModel
@{
    Layout = "_AnonymousLayout";
}

<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Sign in</h1>
            </div>

            <div class="modal-body p-5 pt-0">
                <form class="" method="post">
                    <div class="form-floating mb-3">
                        <input asp-for="Username" type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com" required>
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Password" type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <input id="signInButton" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit" value="Sign in" />
                    @if (ModelState is not null && ModelState.ErrorCount > 0)
                {
                    foreach (var error in ModelState.Values.SelectMany(value => value.Errors))
                    {
                        <div id="errorAlert" class="alert alert-danger" role="alert">@error.ErrorMessage</div>
                    }
                }
                </form>
            </div>
        </div>
    </div>
</div>
