<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Microshop.NET - Admin portal</title>
    <link rel="stylesheet" href="~/lib//bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Microshop.NET</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" active-link-support asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" active-link-support asp-page="/ManageUsers">Manage users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Generate data</a>
                        </li>
                    </ul>
                    <div class="d-flex" role="search">
                        <button class="btn btn-outline-primary" type="submit">Sign out</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Microshop.NET
        </div>
    </footer>
    <script type="text/javascript" src="~/lib//bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>